<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>FormNewMovie</title>
</head>
<body>
  <form th:action="@{/movies}" method="POST" th:object="${movie}">
    <div th:if="${messaggioErrore}">
      <span th:text="${messaggioErrore}">Errore</span>
    </div>
    <div>
      Titolo: <label><input required type="text" th:field="${movie.title}"/></label>
    </div>
    <div>
      Anno: <label><input required type="text" th:field="${movie.year}"/></label>
    </div>
    <div>
      URL immagine: <label><input type="url" th:field="${movie.urlImage}" /></label>
    </div>
    <div>
      <span><button type="submit">Conferma</button></span>
    </div>

  </form>
</body>
</html>